
/*----------------------------------------*\
  C) MAIN CONTENT & SIDEBAR
\*----------------------------------------*/
#main {
  background-color: #fff;
  transition: all 1s ease;
}

#content {
  width: auto;
  margin-right: 330px;
}

#main.nosidebar #content {
  margin-right: 0;
}

#main.nosidebar #sidebar {
  display: none;
}

#sidebar {
  display: block;
  width: 320px;
  -webkit-animation: slide-right 1s ease-out;
  -moz-animation: slide-right 1s ease-out;
}

/*----------------------------------------*\
  E) UX ELEMENTS
\*----------------------------------------*/
/* loading indicator */
#ajax-indicator {
  /*display: none !important;*/
}

/*----------------------------------------*\
  F) PAGE SPECIFIC STYLES
\*----------------------------------------*/

.version-overview table.progress {width:75%;}
div#version-summary {float:none; width:100%; margin-left:0;}
body.controller-versions.action-show div#roadmap .related-issues {width:100%;}

/* History and Changeset */
div#issue-changesets {
  float: none;
  width: auto;
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 2em;
}

div#issue-changesets div.changeset {
  padding-top: 1em;
}

#sidebar {
  padding-right: 5px;
  box-sizing: border-box;
}

#sidebar div.journal ul.details {
  color: #888;
  margin-bottom: 1.5em;
}

#sidebar .journal h4 {
  font-weight: normal;
  font-size: 12px;
  color: #888;
}

a.close-sidebar {
  float: right;
  margin-top: -2px;
  padding-left: 15px;
  margin-left: 10px;
  width: auto;
}
.red {
  color: rgb(200,0,0);
}

.green {
  color: rgb(0,200,0);
}

tr:nth-child(odd) {
  background-color: #f6f7f8;
}

tr.bg_error {
  background-color: rgba(200,0,0,0.1);
}

.implementer_error, .estimated_error {
    background: url(/images/exclamation.png) 8px 50% no-repeat;
    background-color: rgba(200,0,0,0.1);
    border-color: #dd0000;
    color: #880000;
}

@-webkit-keyframes slide-right {
      0% { opacity: 0; -webkit-transform: translateX(100%); }
    100% { opacity: 1; -webkit-transform: translateX(0); }
}
@-moz-keyframes slide-right {
      0% { opacity: 0; -moz-transform: translateX(100%); }
    100% { opacity: 1; -moz-transform: translateX(0); }
}

#history {
  margin-top: 1em;
}

img.gravatar {
  margin-right: 10px;
  float: left;
}

.author {
  font-size: 10px;
}

.details {
  margin-bottom: 1em;
}

.subject h3 {
  margin: 0 !important;
}

h4 img.gravatar {
    margin: -2px 4px 0px 0;
}

.splitcontentleft {
  width: 100%;
}

.splitcontentright {
  width: 100%;
}

#sidebar .description .contextual {
  margin-top: 0;
}

#estimated_hours {
  text-align: right;
  padding: 0 2px;
}

.active-item-shadow {
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.1);
}

.queries-buttons {
  margin: 1em 0;
}
/*----------------------------------------*\
  G) FORMS
\*----------------------------------------*/

#sidebar input, #sidebar select, #sidebar textarea {
  max-width: 100%;
}

#sidebar input {
  background-color: rgba(255,255,255,0.8);
  border: 1px solid gray;
}

/* tabular forms resets for mobile */
.tabular p, .tabular.settings p {
  padding-left: 0;
}

.tabular label, .tabular.settings label {
  display: block;
  width: 100%;
  margin-left: 0;
  text-align: left;
}

.tabular input, .tabular select, .tabular textarea {
  width: 100%;
  max-width: 100%;
}

.tabular input[type="checkbox"], .tabular input.date {
  width: auto;
  max-width: 95%;
}

/* new issue form */
#all_attributes p:first-child {
  float: none !important;
}

#issue_is_private_label {
  display: inline;
}

span#watchers_inputs {
  width: 100%;
}

/* subtasks and related issues list on issue show */
#issue_tree .issues, #relations .issues {
  border-collapse: separate;
  border-spacing: 0 1em; /* vertical space between tasks */
}

#issue_tree .issue > td:not(.checkbox), #relations .issue > td:not(.checkbox) {
  display: block;
  float: left;
  text-align: left;
  padding-right: 5px;
}

#issue_tree .issue > td, #relations .issue > td, #issue_tree .issue .user {
  text-overflow: ellipsis; /* if text exceeds its space, add ... */
  overflow: hidden;
}

#issue_tree .issue > td.subject, #relations .issue > td.subject {
  width: 100% !important; /* let subject have one full width column */
}

#issue_tree .issue > td:not(.checkbox), #relations .issue > td:not(.checkbox) {
  width: 33.33%; /* three columns for all cells that are not subject */
}

#relations .issues, #relations .issue {
  position: relative; /* needed for .buttons positioning */
}

/* positioniong of unline button */
#sidebar #relations .issue > td.buttons {
  text-align: right;
  position: absolute;
  right: 0;
  margin: 0;
  padding-right: 0;
}

#sidebar #relations .issue .buttons a {
  vertical-align: middle;
  padding-right: 5px;
}

#relations .issue > td.subject {
  padding-right: 25px; /* this is the spaces that .buttons uses next to subject */
}

/* attachment upload form */
#attachments_fields span {
  position: relative;
  clear: both;
  margin-bottom: 1em;
  white-space: normal;
}
#attachments_fields span a.remove-upload {
  position: absolute;
  top: 0;
  right: 0;
}

#attachments_fields input.description {
  margin-left: 0;
  width: 100%;
}
